[submodule "Dependencies/LuaJIT"]
	path = Dependencies/LuaJIT
	url = https://github.com/playmer/LuaJIT.git
[submodule "Dependencies/VkHLF"]
	path = Dependencies/VkHLF
	url = https://github.com/playmer/VkHLF.git
[submodule "Dependencies/kiss_fft"]
	path = Dependencies/kiss_fft
	url = https://github.com/playmer/kiss_fft.git
[submodule "Dependencies/fmt"]
	path = Dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "Dependencies/assimp"]
	path = Dependencies/assimp
	url = https://github.com/playmer/assimp.git
[submodule "Dependencies/bullet3"]
	path = Dependencies/bullet3
	url = https://github.com/playmer/bullet3.git
[submodule "Dependencies/crunch"]
	path = Dependencies/crunch
	url = https://github.com/playmer/crunch.git
[submodule "Dependencies/SDL"]
	path = Dependencies/SDL
	url = https://github.com/playmer/SDL.git
[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/playmer/glm.git
[submodule "Dependencies/basis_universal"]
	path = Dependencies/basis_universal
	url = https://github.com/playmer/basis_universal.git
