[submodule "Dependencies/LuaJIT"]
	path = Dependencies/LuaJIT
	url = https://github.com/playmer/LuaJIT.git
[submodule "Dependencies/VkHLF"]
	path = Dependencies/VkHLF
	url = https://github.com/playmer/VkHLF.git
[submodule "Dependencies/kiss_fft"]
	path = Dependencies/kiss_fft
	url = https://github.com/playmer/kiss_fft.git
